main {
  margin: auto;
}

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 1s;
  &:hover {
    transform: scale(1.1);
    transition-duration: 1s;
  }
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal textarea {
  width: 100%;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal_header img {
  cursor: pointer;
}

.modal_header h2 {
  font-size: 4rem;
  font-weight: normal;
  text-align: center;
  margin: 0;
}
.modal h3 {
  font-size: 4rem;
  font-weight: normal;
  margin: 0 0 20px 0;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 2rem;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/* Modification css */

.photograph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 313px;
  padding: 0 35px 0 35px;
}
/* Form */

.modal_header button {
  background-color: #db8876;
  border: 0px;
  padding: 0;
}

/* Sort by */

.all-select-menu {
  display: flex;
  margin-left: 100px;
  margin-top: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  /* align-items: center; */
  & label {
    font-weight: bold;
    margin-right: 15px;
    margin-top: 10px;
  }
}

.select-menu .select-btn {
  z-index: 1;
  position: relative;
  display: flex;
  height: 40px;
  width: 150px;
  background-color: #901c1c;
  border: 0px;
  font-family: 'DM Sans', sans-serif;
  padding: 10px;
  align-items: center;
  font-weight: 500;
  justify-content: space-between;
  cursor: pointer;
  color: white;
}

.select-btn img {
  height: 22px;
  transform: rotate(-180deg);
  transition: 0.3s;
}

.select-menu.active img {
  display: block;
  transform: rotate(0);
  transition: 0.3s;
}

.select-menu .options {
  position: relative;
  top: -10px;
  padding: 10px;
  background-color: #901c1c;
  margin-top: 0;
  color: white;
  display: block;
  transform: translateY(-300px);
  transition: all 1s;
  opacity: 0;
}

.select-menu.active .options {
  display: block;
  transform: translateY(0);
  transition: all 1s;
  opacity: 1;
}

.options .option {
  height: 40px;
  cursor: pointer;
  background-color: #901c1c;
  list-style-type: none;
  &:hover {
    background-color: #e99393;
  }
  &:first-child {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
  }
  & button {
    background-color: #901c1c;
    border: 0px;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.option.remove {
  display: none;
}

section {
  position: relative;
  top: -100px;
  z-index: 0;
}

/* Medias */

.imgWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150%;
  }
}

.mediaCardWrapper {
  transition-duration: 1s;
  &:focus {
    border: 1px solid black;
  }
}

.mediaPictureWrapper {
  height: 350px;
  padding: 0;
  border: none;
  overflow: hidden;
  position: relative;
  transition-duration: 1s;
  &:hover {
    transform: scale(1.05);
    transition-duration: 1s;
    cursor: pointer;
  }
}

.mediaPicture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200%;
}

.mediaPictureText {
  display: flex;
  justify-content: space-between;
}

.numberLikes {
  display: flex;
  align-items: center;
  margin-right: 5px;
  & button {
    background-color: transparent;
    margin-left: 5px;
    margin-top: 5px;
    border: none;
    width: 24px;
    padding: 0;
    &:hover {
      cursor: pointer;
      & img {
        transform: scale(1.2);
        transition: all 1s;
      }
    }
  }
  & img {
    height: 24px;
  }
}

.like {
  transition: all 1s;
  transform: scale(1.2);
}
.noLike {
  transition: all 1s;
  filter: grayscale(100%) opacity(0.6);
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin: 30px 100px;
  & article {
    display: flex;
    flex-direction: column;
    color: #901c1c;
    font-weight: bold;
  }
}

@media screen and (max-width: 1200px) {
  section {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 728px) {
  section {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

/* Form  */
.errorInput {
  background-color: #ff0000;
}

.goodInput {
  background-color: rgb(6, 185, 6);
}

/* Lightbox */

.lightbox {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  color: #901c1c;
}

.lightbox__content {
  margin-top: 2%;
  max-width: 1500px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.elementLightbox {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.iconsLightbox {
  position: absolute;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
  transform: scale(1) translate(-50%, -50%);
  transition: 1s;
  &:hover {
      transform: scale(1.1) translate(-50%, -50%);
      transition: 1s;
  }
}

#closeModalLightbox {
  top: 5%;
  right: 5%;
}

#arrowRight {
  top: 50%;
  right: 5%;
}

#arrowLeft {
  top: 50%;
  left: 5%;
}

#pictureLightbox {
  max-height: 600px;
}

.hidden{
  /* display: none; */
  visibility:hidden;
}   

/* aside likes and price */

aside {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 5%;
  min-width: 28%;
  display: flex;
  justify-content: space-around;
  background-color: #db8876;
  font-weight: bold;
  font-size: 1rem;
  & .likesWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & img {
      height: 15px;
      margin-left: 4px;
      margin-top: 2px;
    }
  }
}
